// 文本超出省略
.ellipsis (@lineNum) {
  .ellipsis-@{lineNum} {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: @lineNum;
    overflow: hidden;
  }
}
each(range(4), {
  .ellipsis(@value)
})

// 字体大小
@fontSize: 12,14,16,18,20,24,28,32,36,40;
.fs (@fontSize) {
  .fs-@{fontSize} {
    font-size: ~'@{fontSize}px'
  }
}
each(@fontSize, {
  .fs(@value)
})

// fixed
.fixed (@top) {
  .fixed-@{top} {
    z-index: 999;
    height: 60px;
    background: #f8f8f9;
    width: 100%;
    position: fixed;
    top: @top;
    left: 0;
  }
}
@top: 0,10;
each(@top, {
  .fixed(@value)
})
